<div class="wrapper d-flex justify-content-center align-items-center mt-5">
  <div class="login">
    <p class="h4 mb-3">Signup</p>
    <form class="d-flex flex-column">
      <mat-form-field>
        <mat-label>username</mat-label>
        <input type="text" matInput placeholder="Ex. John" />
        <mat-error>Enter Username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input type="text" matInput placeholder="Ex. pat@example.com" />
        <mat-error>Enter Valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input type="text" matInput placeholder="Ex. pat@example.com" />
        <mat-error>Enter password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">LOGIN</button>
    </form>
  </div>
</div>
