<div class="wrapper d-flex justify-content-center align-items-center mt-5">
  <div class="login">
    <p class="h4 mb-3">Log in</p>
    <form class="d-flex flex-column" #myForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>role</mat-label>
        <mat-select [(ngModel)]="role" name="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input
          [(ngModel)]="username"
          type="text"
          name="username"
          matInput
          placeholder="Ex. John"
          required
        />
        <mat-error>Enter Username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          matInput
          placeholder="password"
          required
        />
        <mat-error>Enter password</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="onClick()" color="primary">
        LOGIN
      </button>
    </form>
  </div>
</div>
