<form class="d-flex flex-column">
  <mat-form-field>
    <mat-label>cource code</mat-label>
    <input type="text" matInput placeholder="Ex. ICT1407" />
    <mat-error>Enter cource code</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>cource title</mat-label>
    <input type="text" matInput placeholder="Ex. pat@example.com" />
    <mat-error>Enter cource title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>cource description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <!-- <button mat-raised-button color="primary">LOGIN</button> -->
</form>
