<form class="d-flex flex-column" #myForm="ngForm">
  <mat-form-field>
    <mat-label>cource code</mat-label>
    <input
      [(ngModel)]="course_code"
      name="course_code"
      type="text"
      matInput
      placeholder="Ex. ICT1407"
      required
    />
    <mat-error>Enter cource code</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>cource title</mat-label>
    <input
      [(ngModel)]="title"
      name="title"
      type="text"
      matInput
      placeholder="Ex. title"
      required
    />
    <mat-error>Enter cource title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>cource description</mat-label>
    <textarea
      matInput
      [(ngModel)]="description"
      name="description"
      placeholder="Description"
      required
    ></textarea>
    <mat-error>Enter cource Description</mat-error>
  </mat-form-field>
</form>
